.img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}



.nav-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}
.nav{
    display: flex;
    justify-content: space-between           ;
    
    
}
.it{
    margin-left: 30px;
    font-size: 10px;
}